In [1]:
# preamble
from datetime import datetime
start = datetime.now()

## Step 01 > If you haven’t merged your prepared Instacart orders data with the new ```orders_products_prior``` dataframe per the instructions in this Exercise, do so now.

In [2]:
#import libraries
import pandas as pd
import numpy as np
import os

#path to 'root' of jupyter notebook files 
ICpath = r'C:\Users\joseh\Instacart Basket Analysis'

#import orders_products_prior.csv
df_ords_prior=pd.read_csv(os.path.join(ICpath,'02 Data','Original Data','order_products__prior.csv'))
df_ords_prior.shape

(32434489, 4)

In [3]:
#check data types
df_ords_prior.dtypes

order_id             int64
product_id           int64
add_to_cart_order    int64
reordered            int64
dtype: object

In [4]:
#import orders_checked.csv --which was cleaned in a previoud exercise
df_ords = pd.read_csv(os.path.join(ICpath,'02 Data','Prepared Data','orders_checked.csv'))
df_ords.dtypes

Unnamed: 0                     int64
order_id                       int64
user_id                        int64
order_number                   int64
order_dow                      int64
order_hour_of_day              int64
days_since_prior_order       float64
first_order_from_customer       bool
dtype: object

In [5]:
#merging df_ords with df_ords_prior using order_id and the default inner join option
df_merged_large = df_ords.merge(df_ords_prior, on = 'order_id', indicator = True)
df_merged_large

,Unnamed: 0,order_id,user_id,order_number,order_dow,order_hour_of_day,days_since_prior_order,first_order_from_customer,product_id,add_to_cart_order,reordered,_merge
0,0,2539329,1,1,2,8,NaN,True,196,1,0,both
1,0,2539329,1,1,2,8,NaN,True,14084,2,0,both
2,0,2539329,1,1,2,8,NaN,True,12427,3,0,both
3,0,2539329,1,1,2,8,NaN,True,26088,4,0,both
4,0,2539329,1,1,2,8,NaN,True,26405,5,0,both
...,...,...,...,...,...,...,...,...,...,...,...,...
32434484,3421081,2977660,206209,13,1,12,7.0,False,14197,5,1,both
32434485,3421081,2977660,206209,13,1,12,7.0,False,38730,6,0,both
32434486,3421081,2977660,206209,13,1,12,7.0,False,31477,7,0,both
32434487,3421081,2977660,206209,13,1,12,7.0,False,6567,8,0,both
32434488,3421081,2977660,206209,13,1,12,7.0,False,22920,9,0,both

In [6]:
#checking the results of the merge
df_merged_large['_merge'].value_counts()

both          32434489
left_only            0
right_only           0
Name: _merge, dtype: int64

## Step 2 > Export the merged file in pickle format as “orders_products_combined.pkl”.

In [7]:
#exporting the new dataframe in pickle format
df_merged_large.to_pickle(os.path.join(ICpath,'02 Data','Prepared Data','order_products_combined.pkl'))

In [8]:
# fyi only - to track performance of this notebook 
print(' time to run this notebook h:mm:ss: ', datetime.now() - start)

 time to run this notebook h:mm:ss:  0:00:22.502103

In [9]:
df_merged_large.shape

(32434489, 12)

In [10]:
df_ords.shape

(3421083, 8)

In [11]:
df_ords.head()

,Unnamed: 0,order_id,user_id,order_number,order_dow,order_hour_of_day,days_since_prior_order,first_order_from_customer
0,0,2539329,1,1,2,8,NaN,True
1,1,2398795,1,2,3,7,15.0,False
2,2,473747,1,3,3,12,21.0,False
3,3,2254736,1,4,4,7,29.0,False
4,4,431534,1,5,4,15,28.0,False

In [14]:
df_ords_prior.head(3)

   order_id  product_id  add_to_cart_order  reordered
0         2       33120                  1          1
1         2       28985                  2          1
2         2        9327                  3          0