## Exercise 4.2 - Jose Hanchi

### Importing Python Libraries and checking the version of pandas and numpy

In [1]:
#importing libraries: pandas, numpy, os
import pandas as pd
import numpy as np
import os
print('pandas ',pd.__version__)
print('numpy ',np.__version__)

pandas  1.4.4
numpy  1.21.5

### Working with Python Data Types

#### (step 7) integer operations that yield 100

In [2]:
#operations leading to result = 100
x1 = 33
x2 = 67
x3 = 45
x4 = 167
x5 = 22
x1 + x2
print('opearaion # 1 >> ', x1 + x3 + x5)
print('operation # 2 >> ', x4 - x3 - x5)
print('operation # 3 >> ', x1 + x2)

opearaion # 1 >>  100
operation # 2 >>  100
operation # 3 >>  100

#### (step 8) sample floating point operation

In [3]:
#operations with floating point variables
y2 = 2.5
y3 = 15.234
print('floating point operation >> ', y3/y2)

floating point operation >>  6.0936

#### (step 9) string operations (word)

In [4]:
#constructing a word by concatenating string variables
s1 = 'Career'
s2 = 'Foundry'
print('sample word >> ',s1 + s2)

sample word >>  CareerFoundry

#### (step 10) string operations (sentences)

In [5]:
#constructing sentences by concatenating string variables
comma = ', '
period = '.'
space = ' '
t1 = 'The greatest glory in living lies not in never falling'
t2 = 'quit talking and begin doing'
t3 = 'is to'
t4 = 'but in rising every time we fall'
t5 = 'The way to get started'
print('sentence 1 >> ', t1 + comma + t4 + period)
print('sentence 2 >> ', t5 + space + t3 + space + t2 + period)

sentence 1 >>  The greatest glory in living lies not in never falling, but in rising every time we fall.
sentence 2 >>  The way to get started is to quit talking and begin doing.

#### (bonus) print a string 100 times

In [6]:
#multiplying a string by X is the same as concatenating it X times
print('abc '*100)

abc abc abc abc abc abc abc abc abc abc abc abc abc abc abc abc abc abc abc abc abc abc abc abc abc abc abc abc abc abc abc abc abc abc abc abc abc abc abc abc abc abc abc abc abc abc abc abc abc abc abc abc abc abc abc abc abc abc abc abc abc abc abc abc abc abc abc abc abc abc abc abc abc abc abc abc abc abc abc abc abc abc abc abc abc abc abc abc abc abc abc abc abc abc abc abc abc abc abc abc